body {
    height: 90vh;
    font-family: sans-serif;
}

body button, a, i {
    cursor: pointer;
}

.container {
    width: 50%;
    padding: 20px;
    border: solid black 2px;
    border-radius: 8px;
    background-color: antiquewhite;
    margin: auto;
    text-align: justify;
}

header {
    width: 100%;
}

.container main img {
    width: 100%;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.menu ul li {
    float: left;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a:hover {
    background-color: black;
    color: white;
}

footer a .fb {
    color: blue;
}

footer a .wp {
    color: green;
}

footer a .ig {
    color: orange;
}


